/* Form */
.form {
  width: 25%;
  min-width: 330px;
  height: 100%;
  position: relative;
}

.wrapper-box {
  padding: 3rem 3rem 0 3rem;
  background: white;
  display: flex;
  flex-direction: column;
}

/* Background */
.bg-wrapper {
  position: relative;
  height: 100%;
  width: 75%;
  max-width: calc(100% - 330px);
}
.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/authbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background-color {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

.title {
  font-weight: 500;
  font-size: 1.125rem;
  color: rgb(49 53 51 / 1);
  font-family: IBM Plex Sans, sans-serif;
  line-height: 1.35rem;
}
.subtitle {
  font-size: 0.9rem !important;
  color: rgb(116 120 141 / 1);
}
