/* Navbar */
.brand-name {
  font-family: "Luxurious Roman", serif;
  font-weight: 600;
  font-style: normal;
}

.user-name {
  font-family: "Song Myung", serif;
  color: brown;
  /* font-weight: 400; */
  /* font-style: normal; */
}
/* Sidebar Styles */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #f5f5f5;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 0.5s;
  z-index: 999;
  box-shadow: 14px 0 34px 0 #dedede;
  text-wrap: nowrap;
  overflow-x: hidden;
}

.list {
  padding: 14px;
  font-weight: 500;
}

.list-btn {
  background-color: #f5f5f5 !important;
  box-shadow: none !important;
  font-weight: 500;
}

.list-item-body {
  background-color: #f5f5f5;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.accordion {
  --bs-accordion-bg: #f5f5f5 !important;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar li {
  padding: 10px 15px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #ebebeb;
}

.submenu {
  list-style-type: none;
  padding-left: 0;
  transition: 0.3s ease;
}

.submenu li {
  padding: 5px 15px;
  cursor: pointer;
}

.submenu li:hover {
  background-color: #ddd;
}

.sidebar .icon {
  margin-left: auto;
}

/* Content Styles */
.content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  height: calc(100% - 72px);
  padding-left: 48px;
}

.close {
  /* left: -300px; */
  transition-duration: 0.5s;
  width: 48px !important;
  box-shadow: none;
  overflow: hidden;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 100%;
  }

  .content {
    margin-left: 0;
    /* padding: 20px; */
  }
}

/* Layout Styles */
.layout {
  /* display: flex; */
  height: 100vh;
}
