/* File */
.dropzone {
  width: 180px;
  height: 180px;
  border: 1.5px dashed #b14b4b;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

/* cards */
.card {
  width: 180px;
  height: 180px;
  cursor: pointer;
  transition: transform 0.3s;
}

.card-hover:hover {
  transform: translateY(-5px);
  transition: transform 0.5s;
  box-shadow: none;
  border: none !important;
  background-color: transparent;
}

/* employee cards */
.employee-cards {
  display: flex;
  flex-direction: column;
}

.employee-cards .card {
  background-color: #f5f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.employee-cards .card-title {
  font-size: 1rem;
  margin-bottom: 0;
}

.employee-cards b {
  font-size: 1.2rem;
  color: #333;
}
