.progress {
  height: 20px;
  margin-top: 10px;
}

.progress-bar {
  background-color: #6c757d;
}

.min-h-100 {
  min-height: 100%;
}

.company-logo-wrapper {
  max-width: 150px;
  min-height: 100px;
  margin: auto;
  overflow: hidden;
}

.compony-logo-upload {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 4px;
  padding: 1.5rem;
  cursor: pointer;
}

.linkdin-icon-wrapper {
  height: 36px;
  width: 36px;
  background: #0077B5;
  color: #fff !important;
  font-size: 20px;
  margin: 12px 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook-icon-wrapper {
  height: 36px;
  width: 36px;
  background: #316FF6;
  color: #fff !important;
  font-size: 20px;
  margin: 12px 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta-icon-wrapper {
  height: 36px;
  width: 36px;
  background-image: linear-gradient(to right bottom, #f9ce34, #ee2a7b, #6228d7);
  color: #fff !important;
  font-size: 26px;
  margin: 12px 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-card-wrapper .card .icon-wrapper i {
  height: 24px !important;
  width: 24px !important;
  font-size: 22px;
  -webkit-text-stroke: 0.7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee-card-wrapper:nth-of-type(1) .card {
  border-bottom: 5px solid #148B8F !important;
}

.employee-card-wrapper:nth-of-type(1) .card .icon-wrapper {
  color: #148B8F !important;
  background: #d5f5f7;
  padding: 10px;
  border-radius: 6px;
}

.employee-card-wrapper:nth-of-type(2) .card {
  border-bottom: 5px solid #56ca00 !important;
}

.employee-card-wrapper:nth-of-type(2) .card .icon-wrapper {
  color: #56ca00 !important;
  background: #e4f7d6;
  padding: 10px;
  border-radius: 6px;
}

.employee-card-wrapper:nth-of-type(3) .card {
  border-bottom: 5px solid #ffb400 !important;
}

.employee-card-wrapper:nth-of-type(3) .card .icon-wrapper {
  color: #ffb400 !important;
  background: #fff3d6;
  padding: 10px;
  border-radius: 6px;
}

.employee-card-wrapper:nth-of-type(4) .card {
  border-bottom: 5px solid #000 !important;
}

.employee-card-wrapper:nth-of-type(4) .card .icon-wrapper {
  color: #000 !important;
  background: #e4e4e4;
  padding: 10px;
  border-radius: 6px;
}

.employee-card-wrapper:nth-of-type(5) .card {
  border-bottom: 5px solid #16b1ff !important;
}

.employee-card-wrapper:nth-of-type(5) .card .icon-wrapper {
  color: #16b1ff !important;
  background: #daf3ff;
  padding: 10px;
  border-radius: 6px;
}

.employee-card-wrapper:nth-of-type(6) .card {
  border-bottom: 5px solid #8c57ff !important;
}

.employee-card-wrapper:nth-of-type(6) .card .icon-wrapper {
  color: #8c57ff !important;
  background: #ede4ff;
  padding: 10px;
  border-radius: 6px;
}

.employee-card-wrapper:nth-of-type(7) .card {
  border-bottom: 5px solid #ff4c51 !important;
}

.employee-card-wrapper:nth-of-type(7) .card .icon-wrapper {
  color: #ff4c51 !important;
  background: #ffe2e3;
  padding: 10px;
  border-radius: 6px;
}

.employee-card-wrapper:nth-of-type(8) .card {
  border-bottom: 5px solid #8a8d93 !important;
}

.employee-card-wrapper:nth-of-type(8) .card .icon-wrapper {
  color: #8a8d93 !important;
  background: #ecedee;
  padding: 10px;
  border-radius: 6px;
}