/* full container */
.register-container {
  width: 100%;
  height: 100vh;
}

/* Form */
.register-form {
  width: 30%;
  height: 100%;
  position: relative;
}

.register-box {
  padding: 3rem;
  background: white;
  display: flex;
  flex-direction: column;
}

/* Background */
.register-bg-wrapper {
  position: relative;
  width: 70%;
}

.register-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/authbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background-color {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
